.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.transparent {
  border: 1px solid var(--grey);
}

.red {
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
}

.grey {
  font-weight: bold;
  color: var(--white);
  background-color: var(--grey);
}

.green {
  font-weight: bold;
  color: var(--green-light);
  background-color: var(--green);
}

.primary {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
}
