/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-glow: radial-gradient(rgb(1 65 255 / 40%), rgb(1 65 255 / 0%));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgb(1 65 255 / 0%),
      rgb(1 65 255 / 0%),
      rgb(1 65 255 / 30%)
    );
    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #FFFFFF80,
      #FFFFFF40,
      #FFFFFF30,
      #FFFFFF20,
      #FFFFFF10,
      #FFFFFF10,
      #FFFFFF80
    );
    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Righteous", sans-serif;
  --black: #3b434e;
  --white: #fff;
  --primary: #48c9b0;
  --primary-hover: #05ab8a;
  --orange: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --bg-light: #e5e5e5;
  --grey-light: #ebebeb;
  --grey: #b3c0d9;
  --grey-dark: #787d85;
  --red: #de0000;
  --animation: all 0.2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;

  font-family: var(--primary-font);
  color: var(--white);
  /* color: #171717; */

  /* background-color: var(--bg-light); */
  background-color: #171717;
  /* background-color: var(--primary); */
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

